extends ./layout/index

block contenido
    main.container.mt-5 
        h1.text-center.mb-1 #{ pagina }

        .row 

            h2.d-block.w-100.text-center Agrega un testimonio

            .row.justify-content-center.col
                .col-md-8
                    form(action="/testimonios", method="POST")
                        .form-group
                            label(for="nombre") Nombre:
                            input#nombre.form-control(type="text", name="nombre", placeholder="Nombre")
                        .form-group
                            label(for="correo") Correo Electrónico:
                            input#correo.form-control(type="email", name="correo", placeholder="Correo Electrónico")
                        .form-group
                            label(for="mensaje") Mensaje:
                            textarea#mensaje.form-control(name="mensaje", rows="3", placeholder="mensaje")

                        button.btn.btn-success.btn-block(type="submit") Enviar
